<Header style="text-align: center;">
  <h1>Hello RxJs!!!</h1>
  <br><hr>

  <input
    type="text"
    [(ngModel)]="searchString"
    (ngModelChange)="inputChanged($event)"
    placeholder="Enter search value"
  >
  <button
    id="my-btn"
    type="button"
    (click)="searchString = ''">
    Clear
  </button>
</Header>

<div *ngFor="let result of (results$ | async); let i = index" id="result">
  <div *ngIf="result.data.thumbnail !== 'default' && result.data.thumbnail !== 'self'
    && result.data.thumbnail !== 'image'">
      <a [href]="result.data.url">
        <img [src]="result.data.thumbnail" alt="image">
        <p>{{i}}</p>
      </a>
  </div>
</div>
